.aboutSection {
  padding: 100px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary);
}

.text {
  font-size: 1.1rem;
  color: var(--text-light);
  line-height: 1.7;
}
