.aboutSection {
  padding: 100px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary);
}

.text {
  font-size: 1.1rem;
  color: var(--text-light);
  line-height: 1.7;
}
.cvBtn {
  margin-top: 25px;
  display: inline-block;
  background: #00eaff;
  color: #000;
  padding: 12px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s ease;
}

.cvBtn:hover {
  background: #0dcedf;
  transform: translateY(-3px);
  box-shadow: 0 0 12px rgba(0, 234, 255, 0.7);
}
