.section {
  padding: 100px 5%;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.line {
  width: 110px;
  height: 5px;
  background: #00eaff;
  margin: 10px auto 50px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT FORM */
.form {
  flex: 1;
  min-width: 360px;
  background: #0e1624;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #0a2535;
}

.input,
.textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #0c1220;
  border: 1px solid #123;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #00eaff;
}

.textarea {
  height: 130px;
  resize: none;
}

.sendBtn {
  width: 100%;
  padding: 14px;
  border: none;
  background: #00eaff;
  color: #000;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sendBtn:hover {
  transform: translateY(-3px);
  background: #00d2e0;
}

/* RIGHT BOX */
.infoBox {
  flex: 1;
  min-width: 360px;
  background: #0e1624;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #0a2535;
}

.infoBox p {
  font-size: 17px;
  margin: 12px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.connectTitle {
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.icons a {
  font-size: 28px;
  color: #00eaff;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.2);
  color: #00d2ff;
}
