.skillsSection {
  padding: 100px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.card {
  background: #0f1a20;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(0, 224, 255, 0.1);
  transition: 0.3s ease;
  font-size: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--primary);
  box-shadow: 0 0 15px rgba(0, 224, 255, 0.3);
}
